.idea/
.vscode/
build/
.xmake/
xmake-build/
cmake-build-debug/
cmake-build-release/
cmake-build-reldeb/
*.log
*.temp
*.tmp
.DS_Store
*.cmake
**/CMakeCache.txt
**/CMakeFiles/CMakeDirectoryInformation.cmake
**/CMakeFiles/CMakeError.log
**/CMakeFiles/CMakeOutput.log
**/CMakeFiles/Makefile.cmake
**/CMakeFiles/Makefile2
**/CMakeFiles/TargetDirectories.txt
**/Makefile
/test/att.s
